<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Display</title>
</head>
<body>
  <button id="mainButton">메인 화면으로 이동</button>
  <div id="content">
      <p id="tokenMessage"></p>
  </div>

  <script>
      window.onload = function () {
          checkToken();
      };

      const mainButton = document.getElementById('mainButton');
      mainButton.addEventListener('click', function() {
          window.location.href = '/api/view/home';
      });

      function getAuthToken() {
          return localStorage.getItem('accessToken');
      }

      function checkToken() {
          const token = getAuthToken();
          if (token) {
              document.getElementById('tokenMessage').innerText = '토큰이 있습니다. 사용자는 로그인되었습니다. \n 토큰: ' + token;
          } else {
              document.getElementById('tokenMessage').innerText = '토큰이 없습니다. 사용자는 로그아웃 상태입니다.';
          }
      }
  </script>

</body>
</html>